@model ProfileModel

<div class="container">
    <h1>Profile</h1>
    <hr>
    <div class="row">
        <div class="col-6">
            Username: <h5>@Model.Username</h5>

            Email: <h6>@Model.Email</h6>

        </div>
    </div>
</div>
