@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid" style="height: 90%;">
    <div class="row align-items-center justify-content-center" style="height: 80%;">
        <div class="col">

            <div class="text-center">
                <h1 class="display-4">Welcome to Inventum</h1>
                <p class="fw-light fst-italic text-muted fs-4">A collective idea management system</p>
            </div>
        </div>

    </div>
</div>
